.swiper-pagination-bullet-active{
    background-color: #FFBA08 !important;
}

.swiper-pagination-bullet{
    background-color: #999999;
}
.swiper-button-prev{
    color: #FFBA08 !important;
    left: 42px !important;
}

.swiper-button-next{
    color: #FFBA08 !important;
    right: 42px !important;
}
